button {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px;
    font-size: 16px;
    &.submit {
        background-color: $green-3;
        color: $white-1;
        border-radius: 4px;
    }
}
input {
    &[type='button'] {
        @extend button;
    }
    &[type='submit'] {
        @extend button;
    }
}
