.modal {
    &-error {
        position: relative;
        display: flex;
        flex-direction: column;
        padding-bottom: 16px;
        .closeModal {
            align-self: flex-end;
            cursor: pointer;
        }
        h2 {
            font-size: 32px;
            color: black;
            margin: 8px auto 16px;
        }
        ol {
            margin: 0 16px;
            li {
                margin-bottom: 4px;
                line-height: 1.1;
            }
        }
    }
}
